{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/style-home.css') }}">
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div id="removalDescription">
      <h4>Removal - Kirin Tor</h4>
      <div id="removal-description">
        <p>Fidèle au Royaume KirinTor-Horde, la guilde Removal prouve depuis maintenant 8 ans qu'il est possible de progresser sur des paliers PvE dans une communauté stable et structurée. Alors que l'assaut sur les Îles Inexplorées fait rage entre la Horde et l'Alliance, notre guilde aura plus que jamais besoin du soutien de combattants hors pairs comme vous, pour démontrer notre force et notre potentiel à nos alliés Zandalari. Petit à petit, notre réputation sera marquée au fer rouge sur nos adversaires lors de nos raids, pour que notre ascension mythique soit inflexible. Si vous pensez être à la hauteur, motivés et fidèles aux couleurs de la Horde, alors Removal pourra vous ouvrir ses portes sur les instances qui n'attendent plus que vous.
        </p>
      </div>
      <div id="removal-recruitement">
        <a href="{{ path('removal_candidature_create') }}"><button type="button" class="btn btn-removal btn-lg">Rejoins-nous</button></a>
      </div>
    </div>
    <div class="removal-content">

      <div id="removal-CarouselNews">
        <div id="removal-carousel" class="carousel slide w-100" data-ride="carousel">
          <ol class="carousel-indicators">
          {% for newInCarousel in newsInCarousel %}
            <li data-target="#removal-carousel" data-slide-to="{{loop.index - 1}}"
            {% if loop.index - 1 == 0 %}
              class="active"
            {% endif %}></li>
          {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for newInCarousel in newsInCarousel %}
              <div class="carousel-item {% if loop.index - 1 == 0 %}active{% endif %}">
                <img class="d-block w-100 h-100" src="{{ asset('images/news/' ~ newInCarousel.imageUrl) }}" alt="{{newInCarousel.title}}" />
                <div class="carousel-caption d-none d-md-block">
                  <h3>{{newInCarousel.title}}</h3>
                  <p>{{newInCarousel.description}}</p>
                </div>
              </div>
            {% endfor %}

          </div>

          <a class="carousel-control-prev" href="#removal-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#removal-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        {% if is_granted('ROLE_SB') %}
          <div class="btn-removal-left">
            <div class="btn-outer" style="margin-top: 50px;">
              <a href="{{ path('removal_news_create')}}"><button id="createNews" type="button" class="btn btn-removal btn-lg">Creer une actualité</button></a>
            </div>
          </div>
        {% endif %}

        {% for new in news %}

            <div class="removalNews">
              <div class="removalNewsImg">
                <a href="{{ path('removal_news_read', {'newsUrl' : new.url})}}"><img src="{{ asset('images/news/' ~ new.imageUrl) }}" alt="lol" width="100%" height="100%"/></a>
              </div>

            {% set countComment = 0 %}
            {% for comment in comments %}
              {% if comment.news.id == new.id %}
                {% set countComment = countComment + 1 %}
              {% endif %}
            {% endfor %}

            <div class="removalNewsContent">
              <h3>
                <a href="{{ path('removal_news_read', {'newsUrl' : new.url})}}">{{ new.title }}</a>
                <i class="far fa-comment-alt" style="float:right">
                {{ countComment }}
                </i>
              </h3>
              <i>Écrit par <a href="{{ path('removal_joueur_read_all', {'joueurID' : new.utilisateur.id}) }}">{{ new.utilisateur.username }}</a> le {{ new.dateNews|date('d/m/Y à H:i') }}</i>
              <hr />
              <p>{{ new.description }}</p>
              {% if is_granted('ROLE_SB') %}
                <div class="admin_news">
                  <div class="admin_newsIcons">
                    <i class="far fa-edit"></i>
                  </div>
                  <div class="admin_newsIcons">
                    <a href="{{ path('removal_news_delete', {'newsUrl' : new.url}) }}"><i class="fas fa-trash"></i></a>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

        {% endfor %}
          <div class="btn-outer" style="margin-top:50px;">
            <button id="moreNews" type="button" class="btn btn-removal btn-lg">Afficher plus d'actualités</button>
          </div>

      </div>

      <div id="removalDown">
        {% for raidInProgress in raidsInProgress %}
          <table class="table">
            <h4 class="recrutement">{{ raidInProgress.name }}</h4>
            <thead class="thead-dark">
              <tr>
                <th style="min-width:90px;">Boss</th>
                <th>NM</th>
                <th>HM</th>
                <th>MM</th>
              </tr>
            </thead>
            {% for bossdown in bossdowns %}
              {% if bossdown.raid.id == raidInProgress.id %}
                <tr>
                  <td><img class="bosses-icons" src="{{ asset('images/boss/' ~ bossdown.imageUrl) }}" alt="{{ bossdown.name }}" title="{{ bossdown.name }}" width="60px" height="30px"/></td>
                  <td>
                    {% if bossdown.nm == 1 %}
                      <i class="fas fa-check"></i>
                    {% else %}
                      <i class="fas fa-times"></i>
                    {% endif %}
                  </td>
                  <td>
                    {% if bossdown.hm == 1 %}
                      <i class="fas fa-check"></i>
                    {% else %}
                      <i class="fas fa-times"></i>
                    {% endif %}
                  </td>
                  <td>
                    {% if bossdown.mm == 1 %}
                      <i class="fas fa-check"></i>
                    {% else %}
                      <i class="fas fa-times"></i>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}

          </table>
        {% endfor %}
        <br>
        <table id="table_recrutement" class="table">
          <thead class="thead-dark">
          <tr>
            <p class="recrutement">Recrutement</p>
          </tr>
          <tr>
            <th style="min-width:50px;">Icon</th>
            <th>Classe</th>
            <th>Niveau</th>
              {% if is_granted('ROLE_ADMIN') %}
                <th>Action</th>
              {% endif %}
          </tr>
          </thead>
            {% for classe in recrutement %}
              <tr>
                <td class="align-middle">
                  <img class="icon_class" src="{{ asset('images/recrutement/' ~ classe.image) }}" alt="">
                </td>
                <td class="align-middle">
                    {{ classe.classe }}
                </td>
                  {% if classe.niveau == "Basse" %}
                    <td style="color: aquamarine" class="align-middle">
                        {{ classe.niveau }}
                    </td>
                      {% elseif classe.niveau == "Urgent" %}
                        <td style="color: #C82829" class="align-middle">
                            {{ classe.niveau }}
                        </td>
                      {% elseif classe.niveau == "Moyenne" %}
                        <td style="color: #ffe400" class="align-middle">
                            {{ classe.niveau }}
                        </td>
                      {% elseif classe.niveau == "Haute" %}
                        <td style="color: #fc7904" class="align-middle">
                            {{ classe.niveau }}
                        </td>
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') %}
                    <td>
                      <a href="{{ path('removal_admin_update_recrutement', {'recrutementID' : classe.id}) }}"> <span class="fas fa-pencil-alt" data-toggle="tooltip" title="Édition"></span></a>
                        <a href="{{ path('removal_admin_delete_recrutement', {'recrutementID' : classe.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer"></span></a>
                    </td>
                  {% endif %}
              </tr>
            {% endfor %}
        </table>
      <br>
    </div>

    </div>

</div>
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('js/removal-home.js')}}"></script>
{% endblock %}
