{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-gestion.css') }}">
{% endblock %}

{% block body %}
    <br>
    <div class="all_candidature_read">
    <div class="candidature_read">
    <div class="all_titre_gestion">
        <div class="div_titre_gestion_participation_normal">
            <div class="titre_gestion_participation_normal">
                <h2 class="titre_all_candidature">Candidature en cours</h2>
                <span><a class="archive" href="{{ path('removal_candidature_read_archive') }}">Les archives</a></span>
            </div>
        </div>
    </div>
    {% for candidature in candidatures %}
        {% if candidature.status == "new" %}
    <div class="all_content_candidature_read">
        <div class="content_candidature_info">
            <div class="in_content_candidature_info">
                <div class="candidature_info">
                    <div class="info">
                        <p class="info_candidature">Personnage : </p>
                        <p class="info_twig">{{ candidature.pseudo }}</p>
                    </div>
                    <div class="info">
                        <p class="info_candidature">Classe : </p>
                        <p class="info_twig">{{ candidature.classe }}</p>
                    </div>
                    <div class="info">
                        <p class="info_candidature">Spécialisation : </p>
                        <p class="info_twig">{{ candidature.specialisation }}</p>
                    </div>
                    <div class="info">
                        <a href="{{ candidature.armurerie }}"target="_blank">Armurerie</a>
                    </div>
                </div>
                <div class="candidature_info">
                    <div class="info">
                        <p class="info_candidature">Membre : </p>
                        <p class="info_twig">{{ candidature.utilisateur }}</p>
                    </div>
                    <div class="info">
                        <p class="info_candidature">BattleTag : </p>
                        <p class="info_twig">{{ candidature.battletag }}</p>
                    </div>
                    <div class="info">
                        <p class="info_candidature">Email : </p>
                        <p class="info_twig">{{ candidature.utilisateur.email }}</p>
                    </div>
                </div>
                <div class="candidature_info">
                    <div class="info">
                        <p class="info_candidature">Discord ? : </p>
                        <p class="info_twig">{{ candidature.discord }}</p>
                    </div>
                    <div class="info">
                        <p class="info_candidature">Parrain ? : </p>
                        <p class="info_twig">{{ candidature.joueurReference }}</p>
                    </div>
                    <div class="info">
                        <p class="info_candidature">Disponibilité ? : </p>
                        <p class="info_twig">{{ candidature.disponibilite|date('d-m-Y H:i:s') }}</p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="in_content_candidature_comment">
                <p>{{ candidature.description }}</p>
            </div>
        </div>
        <div class="content_candidature_status">
            {% if candidature.status == "new" %}
                <a href="{{ path('removal_candidature_update_status', {'candidatureID' : candidature.id}) }}"> <span class="fas fa-archive" data-toggle="tooltip" title="Archiver la candidature ?"></span></a>
            {% else %}
                <p>{{ candidature.status }}</p>
            {% endif %}
        </div>
    </div><br>
        {% endif %}
    {% endfor %}
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        function myFunction() {
            confirm("Voulez vous vraiment supprimer ?");
        }
    </script>
{% endblock %}