{% extends 'base.html.twig' %}

{% block body %}
<br>
<h2 class="titre_all_candidature">Les candidatures archivées</h2><br>
<div class="all_table_candidature">
    <div class="table_candidature">
        <table class="table">
            <tr class="thead-light">
                <th>Personnage</th>
                <th>Membre</th>
                <th>Adresse mail</th>
                <th>BattleTag</th>
                <th>Classe</th>
                <th>Spécialisation</th>
                <th>Armurerie</th>
                <th>Discord ?</th>
                <th>Parrain ?</th>
                <th>Disponibilité</th>
                <th>Commentaires</th>
                <th>Status</th>
            </tr>
            {% for candidature in candidatures %}
                {% if candidature.status == "Candidature archivée" %}
                    <tr class="table-success">
                        <td>{{ candidature.pseudo }}</td>
                        <td>{{ candidature.utilisateur }}</td>
                        <td>{{ candidature.utilisateur.email }}</td>
                        <td>{{ candidature.battletag }}</td>
                        <td>{{ candidature.classe }}</td>
                        <td>{{ candidature.specialisation }}</td>
                        <td><a href="{{ candidature.armurerie }}" target="_blank">Armurerie</a></td>
                        <td>{{ candidature.discord }}</td>
                        <td>{{ candidature.joueurReference }}</td>
                        <td>{{ candidature.disponibilite|date('d-m-Y H:i:s') }}</td>
                        <td>{{ candidature.description }}</td>
                        <td>{{ candidature.status }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

