{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/style-news.css') }}">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="newContent">
      <h1>{{new.title}}</h1>
      <i>Écrit par <a href="{{ path('removal_joueur_read_all', {'joueurID' : new.utilisateur.id}) }}">{{new.utilisateur.username}}</a> le {{ new.dateNews|date('d/m/Y à H:i') }}</i><hr />
      {{ new.content|raw }}
    </div>

    <div class="writeComment" style="text-align:center">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      {{ form_start(formComment) }}
      {{ form_errors(formComment) }}
      <div class="form-group">
        {{ form_label(formComment.content) }}
        {{ form_widget(formComment.content) }}
        {{ form_errors(formComment.content) }}
      </div>
      <div class="btn-outer">
        {{ form_widget(formComment.save) }}
      </div>
      {{ form_rest(formComment) }}
      {{ form_end(formComment) }}

    {% else %}
      Il faut être connecter pour écrire un commentaire.
    {% endif %}
    </div>
    <div class="comments">
      <h2>Commentaires ({{allComments|length}})</h2><br />
      {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
      {% for comment in comments %}
        <div class="commentContent">
          <div class="avatar"></div>
          <div class="commentDescription">
            <p>{{ comment.utilisateur.username }} à écrit ce commentaire le {{comment.dateComment|date('d/m/Y à H:i')}}</p><hr />
            <p>{{comment.content}}</p>
          </div>
        </div>
      {% endfor %}
      {% if allComments|length > 10 %}
        <div class="btn-outer" style="margin-top:50px;">
          <button id="moreComments" type="button" class="btn btn-removal btn-lg">Afficher plus de commentaires</button>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script> var url = "{{newsUrl}}"; </script>
  <script src="{{ asset('js/removal-news.js')}}"></script>
{% endblock %}
