{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-gestion.css') }}">
{% endblock %}

{% block body %}
    <br>
    <div class="all_roster_read">
    <div class="roster_read">
    <div class="titre_h2_roster">
    <h2 class="titre_gestion">Roster Removal</h2>
    </div>
    <br>
    <h3 class="titre_roster">Tank</h3><br>
    <div class="allcontent">
        {% for membre in membres.members %}
            {% if membre.rank <= "2" and membre.character.spec.role == "TANK" %}
                <div class="personnage">
                    <p class="pseudo">{{ membre.character.name }}</p>
                    <p class="classe">{{ membre.character.spec.name }}</p>
                    <p><img class="imgperso" src="https://render-eu.worldofwarcraft.com/character/{{ membre.character.thumbnail }}" alt="icone wow"></p>
                    <p class="classe">{{ membre.character.spec.role }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div><br><br>

    <h3 class="titre_roster">Healer</h3><br>
    <div class="allcontent">
        {% for membre in membres.members %}
            {% if membre.rank <= "2" and membre.character.spec.role == "HEALING" %}
                <div class="personnage">
                    <p class="pseudo">{{ membre.character.name }}</p>
                    <p class="classe">{{ membre.character.spec.name }}</p>
                    <p><img class="imgperso" src="https://render-eu.worldofwarcraft.com/character/{{ membre.character.thumbnail }}" alt="icone wow"></p>
                    <p class="classe">{{ membre.character.spec.role }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div><br><br>

    <h3 class="titre_roster">DPS</h3><br>
    <div class="allcontent">
        {% for membre in membres.members %}
            {% if membre.rank <= "2" and membre.character.spec.role == "DPS" %}
                <div class="personnage">
                    <p class="pseudo">{{ membre.character.name }}</p>
                    <p class="classe">{{ membre.character.spec.name }}</p>
                    <p><img class="imgperso" src="https://render-eu.worldofwarcraft.com/character/{{ membre.character.thumbnail }}" alt="icone wow"></p>
                    <p class="classe">{{ membre.character.spec.role }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div><br><br>
{% endblock %}