{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-gestion.css') }}">
{% endblock %}

{% block body %}
    <h2 class="titre_gestion">Vos participations archivées : </h2>
    <br>
    {% for participation in status %}
        {% if participation.confirmation == "Archivée" %}
            {% if participation.participation.importance == "Normal" and participation.participation.importance != null %}
                <div class="all_participation">
                    <div class="table_participation_compo">
                        <div class="date">
                            <p class="debut">{{ participation.participation.dateDebut|date('d-m-Y') }}</p>
                            <p>{{ participation.participation.nomParticipation }}</p>
                            <p class="fin">{{ participation.participation.dateFin|date('d-m-Y') }}</p>
                        </div>
                        <div class="participation">
                            <div class="content_participation">
                                <div class="compo">
                                    <span>{{ participation.participation.nomCompo1 }}</span><span>{{ participation.participation.nbrCompo1 }}</span>
                                </div>
                                <div class="compo">
                                    <span>{{ participation.participation.nomCompo2 }}</span><span>{{ participation.participation.nbrCompo2 }}</span>
                                </div>
                                <div class="compo">
                                    <span>{{ participation.participation.nomCompo3 }}</span><span>{{ participation.participation.nbrCompo3 }}</span>
                                </div>
                                <div class="compo">
                                    <span>{{ participation.participation.nomCompo4 }}</span><span>{{ participation.participation.nbrCompo4 }}</span>
                                </div>
                                {% if participation.participation.nomCompo5 != null %}
                                    <div class="compo">
                                        <span>{{ participation.participation.nomCompo5 }}</span><span>{{ participation.participation.nbrCompo5 }}</span>
                                    </div>
                                {% endif %}
                                {% if participation.participation.nomCompo6 != null %}
                                    <div class="compo">
                                        <span>{{ participation.participation.nomCompo6 }}</span><span>{{ participation.participation.nbrCompo6 }}</span>
                                    </div>
                                {% endif %}
                                {% if participation.participation.nomCompo7 != null %}
                                    <div class="compo">
                                        <span>{{ participation.participation.nomCompo7 }}</span><span>{{ participation.participation.nbrCompo7 }}</span>
                                    </div>
                                {% endif %}
                                {% if participation.participation.nomCompo8 != null %}
                                    <div class="compo">
                                        <span>{{ participation.participation.nomCompo8 }}</span><span>{{ participation.participation.nbrCompo8 }}</span>
                                    </div>
                                {% endif %}
                                {% if participation.participation.nomCompo9 != null %}
                                    <div class="compo">
                                        <span>{{ participation.participation.nomCompo9 }}</span><span>{{ participation.participation.nbrCompo9 }}</span>
                                    </div>
                                {% endif %}
                                {% if participation.participation.nomCompo10 != null %}
                                    <div class="compo">
                                        <span>{{ participation.participation.nomCompo10 }}</span><span>{{ participation.participation.nbrCompo10 }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="participation_status">
                <span>
                    {% if participation.confirmation == "Pas envoyé" %}
                        <a href="{{ path('removal_gestion_status', {'participationID' : participation.id}) }}"> <span class="fas fa-check" data-toggle="tooltip" title="Confirmer votre participation"></span></a>
                    {% elseif participation.confirmation == "En cours" %}
                        {{ participation.confirmation }}
                    {% elseif participation.confirmation == "Archivée" %}
                        {{ participation.confirmation }}
                    {% endif %}
                </span>
                            </div>
                        </div>
                    </div>
                </div><br>
            {% endif %}
        {% endif %}
    {% endfor %}

{% endblock %}