{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-gestion.css') }}">
{% endblock %}

{% block body %}
    <h2>Vos personnages : <a href="{{ path('removal_joueur_create') }}"> <span class="fas fa-plus" data-toggle="tooltip" title="Créer un nouveau joueur"></span></a></h2><br>
    <div class="allcontent">
    {% for personnage in personnages %}
        <div class="personnage">
            <p class="pseudo">{{ personnage.pseudo }}</p>
            <p class="classe">{{ personnage.classe }}</p>
            <p><a href="https://worldofwarcraft.com/fr-fr/character/kirin-tor/{{ personnage.pseudo }}" target="_blank"><img class="imgperso" src="{{ asset('images/iconewow.png') }}" alt="icone wow"></a></p>
            {% if is_granted('ROLE_GUILDE') %}
                <div class="modif">
            <a href="{{ path('removal_joueur_update', {'joueurID' : personnage.id}) }}"> <span class="fas fa-pencil-alt" data-toggle="tooltip" title="Édition"></span></a>
            <a href="{{ path('removal_joueur_delete', {'joueurID' : personnage.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer" onclick="myFunction()"></span></a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    </div><br><br>

    <h2>Participation normale : </h2><br>
    <table class="table table-hover">
        <tr class="thead-light">
            <th>Participation</th>
            <th>Importance</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Compo 1</th>
            <th>Nombre</th>
            <th>Compo 2</th>
            <th>Nombre</th>
            <th>Compo 3</th>
            <th>Nombre</th>
            <th>Compo 4</th>
            <th>Nombre</th>
            <th>Envoyée ?</th>
        </tr>
        {% for participation in status %}
            {% if participation.participation.importance == "Normal" and participation.participation.importance != null %}
                {% if participation.confirmation == "Validée" %}
                    <tr class="table-success">
                        <td><span class="fas fa-arrow-right"></span> {{ participation.participation.nomParticipation }}</td>
                        <td>{{ participation.participation.importance }}</td>
                        <td>{{ participation.participation.dateDebut|date('d-m-Y') }}</td>
                        <td>{{ participation.participation.dateFin|date('d-m-Y') }}</td>
                        <td>{{ participation.participation.nomCompo1 }}</td>
                        <td>{{ participation.participation.nbrCompo1 }}</td>
                        <td>{{ participation.participation.nomCompo2 }}</td>
                        <td>{{ participation.participation.nbrCompo2 }}</td>
                        <td>{{ participation.participation.nomCompo3 }}</td>
                        <td>{{ participation.participation.nbrCompo3 }}</td>
                        <td>{{ participation.participation.nomCompo4 }}</td>
                        <td>{{ participation.participation.nbrCompo4 }}</td>
                        {% if participation.confirmation == "Pas envoyé" %}
                            <td><a href="{{ path('removal_gestion_status', {'participationID' : participation.id}) }}"> <span class="fas fa-check" data-toggle="tooltip" title="Confirmer votre participation"></span></a></td>
                        {% elseif participation.confirmation == "Confirmation demandée" %}
                            <td>{{ participation.confirmation }}</td>
                        {% else %}
                            <td>{{ participation.confirmation }}</td>
                        {% endif %}
                    </tr>
                    {% else %}
                        <tr class="table-danger">
                            <td><span class="fas fa-arrow-right"></span> {{ participation.participation.nomParticipation }} <span class="badge badge-info">Nouveau</span></td>
                            <td>{{ participation.participation.importance }}</td>
                            <td>{{ participation.participation.dateDebut|date('d-m-Y') }}</td>
                            <td>{{ participation.participation.dateFin|date('d-m-Y') }}</td>
                            <td>{{ participation.participation.nomCompo1 }}</td>
                            <td>{{ participation.participation.nbrCompo1 }}</td>
                            <td>{{ participation.participation.nomCompo2 }}</td>
                            <td>{{ participation.participation.nbrCompo2 }}</td>
                            <td>{{ participation.participation.nomCompo3 }}</td>
                            <td>{{ participation.participation.nbrCompo3 }}</td>
                            <td>{{ participation.participation.nomCompo4 }}</td>
                            <td>{{ participation.participation.nbrCompo4 }}</td>
                            {% if participation.confirmation == "Pas envoyé" %}
                                <td><a href="{{ path('removal_gestion_status', {'participationID' : participation.id}) }}"> <span class="fas fa-check" data-toggle="tooltip" title="Confirmer votre participation"></span></a></td>
                            {% elseif participation.confirmation == "Confirmation demandée" %}
                                <td>{{ participation.confirmation }}</td>
                            {% else %}
                                <td>{{ participation.confirmation }}</td>
                            {% endif %}
                        </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table><br><br>


    <h2>Participation courante :</h2><br>
    <table class="table table-hover">
        <tr class="thead-light">
            <th>Participation</th>
            <th>Importance</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Compo 1</th>
            <th>Nombre</th>
            <th>Compo 2</th>
            <th>Nombre</th>
            <th>Compo 3</th>
            <th>Nombre</th>
            <th>Compo 4</th>
            <th>Nombre</th>
        </tr>
        {% for participation in status %}
            {% if participation.participation.importance == "Courant" and participation.participation.importance != null %}
                <tr class="table-warning">
                    <td><span class="fas fa-arrow-right"></span> {{ participation.participation.nomParticipation }}</td>
                    <td>{{ participation.participation.importance }}</td>
                    <td>{{ participation.participation.dateDebut|date('d-m-Y') }}</td>
                    <td>{{ participation.participation.dateFin|date('d-m-Y') }}</td>
                    <td>{{ participation.participation.nomCompo1 }}</td>
                    <td>{{ participation.participation.nbrCompo1 }}</td>
                    <td>{{ participation.participation.nomCompo2 }}</td>
                    <td>{{ participation.participation.nbrCompo2 }}</td>
                    <td>{{ participation.participation.nomCompo3 }}</td>
                    <td>{{ participation.participation.nbrCompo3 }}</td>
                    <td>{{ participation.participation.nomCompo4 }}</td>
                    <td>{{ participation.participation.nbrCompo4 }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table><br><br>
    <h2>Participation urgente :</h2><br>
    <table class="table table-hover">
        <tr class="thead-light">
            <th>Participation</th>
            <th>Importance</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Compo 1</th>
            <th>Nombre</th>
            <th>Compo 2</th>
            <th>Nombre</th>
            <th>Compo 3</th>
            <th>Nombre</th>
            <th>Compo 4</th>
            <th>Nombre</th>
        </tr>
        {% for participation in status %}
            {% if participation.participation.importance == "Urgent" and participation.participation.importance != null %}
                <tr class="table-warning">
                    <td><span class="fas fa-arrow-right"></span> {{ participation.participation.nomParticipation }}</td>
                    <td>{{ participation.participation.importance }}</td>
                    <td>{{ participation.participation.dateDebut|date('d-m-Y') }}</td>
                    <td>{{ participation.participation.dateFin|date('d-m-Y') }}</td>
                    <td>{{ participation.participation.nomCompo1 }}</td>
                    <td>{{ participation.participation.nbrCompo1 }}</td>
                    <td>{{ participation.participation.nomCompo2 }}</td>
                    <td>{{ participation.participation.nbrCompo2 }}</td>
                    <td>{{ participation.participation.nomCompo3 }}</td>
                    <td>{{ participation.participation.nbrCompo3 }}</td>
                    <td>{{ participation.participation.nomCompo4 }}</td>
                    <td>{{ participation.participation.nbrCompo4 }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        function myFunction() {
            confirm("Voulez vous vraiment supprimer ?");
        }
    </script>
{% endblock %}