{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style-gestion.css') }}">
{% endblock %}

{% block body %}
<br>
<div class="container">
  <div class="all_gestion_read">
    <div class="gestion_read">
      <h2 class="titre_gestion">Vos participations archivées : </h2>
      <br>
      {% for participation in status %}
      {% if participation.confirmation == "Archivée" %}
      {% if participation.participation.importance == "Normal" and participation.participation.importance != null %}
      <div class="all_participation">
        <div class="table_participation_compo">
          <div class="date">
            <div class="debut">{{ participation.participation.dateDebut|date('d-m-Y') }}</div>
            <div class="color-removal">{{ participation.participation.nomParticipation }}</div>
            <div class="fin">{{ participation.participation.dateFin|date('d-m-Y') }}</div>
          </div>
          <div class="participation">
            <div class="content_participation">
              <table class="table">
                <thead>
                  <th scope="col"><span>Composant</span></th>
                  <th scope="col"><span>Nombre</span></th>
                </thead>
                <tbody>
                  {% if participation.participation.nomCompo1 != null %}
                  <tr>
                    <td><span>{{ participation.participation.nomCompo1 }}</span></td>
                    <td><span>{{ participation.participation.nbrCompo1 }}</span></td>
                  </tr>
                  {% endif %}
                  {% if participation.participation.nomCompo2 != null %}
                  <tr>
                    <td><span>{{ participation.participation.nomCompo2 }}</span></td>
                    <td><span>{{ participation.participation.nbrCompo2 }}</span></td>
                  </tr>
                  {% endif %}
                  {% if participation.participation.nomCompo3 != null %}
                  <tr>
                    <td><span>{{ participation.participation.nomCompo3 }}</span></td>
                    <td><span>{{ participation.participation.nbrCompo3 }}</span></td>
                  </tr>
                  {% endif %}
                  {% if participation.participation.nomCompo4 != null %}
                  <tr>
                    <td><span>{{ participation.participation.nomCompo4 }}</span></td>
                    <td><span>{{ participation.participation.nbrCompo4 }}</span></td>
                  </tr>
                  {% endif %}
                  {% if participation.participation.nomCompo5 != null %}
                  <tr>
                    <td><span>{{ participation.participation.nomCompo5 }}</span></td>
                    <td><span>{{ participation.participation.nbrCompo5 }}</span></td>
                  </tr>
                  {% endif %}
                  {% if participation.participation.nomCompo6 != null %}
                  <tr>
                    <td><span>{{ participation.participation.nomCompo6 }}</span></td>
                    <td><span>{{ participation.participation.nbrCompo6 }}</span></td>
                  </tr>
                  {% endif %}
                  {% if participation.participation.nomCompo7 != null %}
                  <tr>
                    <td><span>{{ participation.participation.nomCompo7 }}</span></td>
                    <td><span>{{ participation.participation.nbrCompo7 }}</span></td>
                  </tr>
                  {% endif %}
                  {% if participation.participation.nomCompo8 != null %}
                  <tr>
                    <td><span>{{ participation.participation.nomCompo8 }}</span></td>
                    <td><span>{{ participation.participation.nbrCompo8 }}</span></td>
                  </tr>
                  {% endif %}
                  {% if participation.participation.nomCompo9 != null %}
                  <tr>
                    <td><span>{{ participation.participation.nomCompo9 }}</span></td>
                    <td><span>{{ participation.participation.nbrCompo9 }}</span></td>
                  </tr>
                  {% endif %}
                  {% if participation.participation.nomCompo10 != null %}
                  <tr>
                    <td><span>{{ participation.participation.nomCompo10 }}</span></td>
                    <td><span>{{ participation.participation.nbrCompo10 }}</span></td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <div class="participation_status">
              <span>
                {% if participation.confirmation == "Pas envoyé" %}
                <a href="{{ path('removal_gestion_status', {'participationID' : participation.id}) }}"> <span class="fas fa-check" data-toggle="tooltip" title="Confirmer votre participation"></span></a>
                {% elseif participation.confirmation == "En cours" %}
                {{ participation.confirmation }}
                {% elseif participation.confirmation == "Archivée" %}
                {{ participation.confirmation }}
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div><br>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
