<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
      <header>
        <div class="removalBanner"></div>
          <div class="all_menu">
            <div class="menu">
                <a href="{{ path('removal_homepage') }}">Accueil</a>
                <a href="{{ path('removal_roster_read') }}">Roster</a>
                <a href="{{ path('removal_candidature_create') }}">Postuler</a>
                {% if is_granted('ROLE_GUILDE') %}
                    <a href="{{ path('removal_joueur_read') }}">Les personnages</a>
                    <a href="{{ path('removal_gestion_read') }}">Gestions</a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
                    <a href="{{ path('fos_user_registration_register') }}">Se créer un compte</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SB') %}
                    <ul style="margin: 0;">
                        <li class="dropdown"><a data-toggle="dropdown" href="#">ContrôleSB<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background-color: #231b16">
                                <li style="width: 300px"><a href="{{ path('removal_sb_read') }}">Accueil</a></li>
                                <li><a href="{{ path('removal_participation_read') }}">Participations</a></li>
                                <li><a href="{{ path('removal_gestion_status_create_sb') }}" data-toggle="tooltip" title="Création nouveau status & assigner participation aux membres"> <span class="fas fa-pencil-alt"></span>Assigner participations</a></li>
                                <li><a href="{{ path('removal_candidature_read') }}">voir les candidatures</a></li>
                                <li><a href="{{ path('removal_admin_read_recrutement') }}">Panel recrutement</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                        <ul style="margin: 0">
                            <li class="dropdown"><a data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
                                <ul class="dropdown-menu" style="background-color: #231b16">
                                    <li style="width: 300px"><a href="{{ path('removal_admin_read_all_users') }}">Accueil</a></li>
                                    <li><a href="{{ path('removal_participation_read') }}">Participations</a></li>
                                    <li><a href="{{ path('removal_gestion_status_create') }}" data-toggle="tooltip" title="Création nouveau status & assigner participation aux membres"> <span class="fas fa-pencil-alt"></span>Assigner participations</a></li>
                                    <li><a href="{{ path('removal_admin_liste_membre') }}">Liste des membres</a></li>
                                    <li><a href="{{ path('removal_admin_read_recrutement') }}">Panel recrutement</a></li>
                                    <li><a href="{{ path('removal_candidature_read') }}">voir les candidatures</a></li>
                                    <li><a href="{{ path('removal_sb_raid_create') }}">Création raid</a></li>
                                    <li><a href="{{ path('removal_sb_raid_read') }}">Voir les raids</a></li>
                                    <li><a href="{{ path('removal_sb_boss_create') }}">Création de boss</a></li>
                                    <li><a href="{{ path('removal_sb_boss_read') }}">Voir les boss</a></li>
                                </ul>
                            </li>
                        </ul>
                {% endif %}
            </div>
          </div>
      </header>

      <div class="removal-body">
        {% block body %}{% endblock %}

          {% block content %}
              {% block fos_user_content %}{% endblock %}
          {% endblock %}

        <footer class="removalfooter"></footer>
      </div>
      {% block javascripts %}{% endblock %}

    </body>
</html>
