<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Guilde Removal - Kirin-Tor{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
      <header>
        <div class="removalBanner"></div>
        <div class="all_menu">

          <div class="menu">
            <nav class="navbar navbar-expand-lg" id="removal-navBar">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" id="hamburger"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('removal_homepage') }}">Accueil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('removal_roster_read') }}">Roster</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('removal_candidature_create') }}">Postuler</a>
                  </li>
                  {% if is_granted('ROLE_GUILDE') %}
                    <li class="nav-item">
                      <a class="nav-link"href="{{ path('removal_joueur_read') }}">Les personnages</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('removal_gestion_read') }}">Gestions</a>
                    </li>
                  {% endif %}
                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                      <a class="nav-link"href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
                    </li>
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SB') %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">ContrôleSB<span class="caret"></span></a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('removal_sb_read') }}">Accueil</a>
                        <a class="dropdown-item" href="{{ path('removal_participation_read') }}">Participations</a>
                        <a class="dropdown-item" href="{{ path('removal_gestion_status_create_sb') }}" data-toggle="tooltip" title="Création nouveau status & assigner participation aux membres"> <span class="fas fa-pencil-alt"></span>Assigner participations</a>
                        <a class="dropdown-item" href="{{ path('removal_candidature_read') }}">voir les candidatures</a>
                        <a class="dropdown-item" href="{{ path('removal_admin_read_recrutement') }}">Panel recrutement</a>
                      </div>
                    </li>
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('removal_admin_read_all_users') }}">Accueil</a>
                        <a class="dropdown-item" href="{{ path('removal_participation_read') }}">Participations</a>
                        <a class="dropdown-item" href="{{ path('removal_gestion_status_create') }}" data-toggle="tooltip" title="Création nouveau status & assigner participation aux membres"> <span class="fas fa-pencil-alt"></span>Assigner participations</a>
                        <a class="dropdown-item" href="{{ path('removal_admin_liste_membre') }}">Liste des membres</a>
                        <a class="dropdown-item" href="{{ path('removal_admin_read_recrutement') }}">Panel recrutement</a>
                        <a class="dropdown-item" href="{{ path('removal_candidature_read') }}">voir les candidatures</a>
                        <a class="dropdown-item" href="{{ path('removal_sb_raid_create') }}">Création raid</a>
                        <a class="dropdown-item" href="{{ path('removal_sb_raid_read') }}">Voir les raids</a>
                        <a class="dropdown-item" href="{{ path('removal_sb_boss_create') }}">Création de boss</a>
                        <a class="dropdown-item" href="{{ path('removal_sb_boss_read') }}">Voir les boss</a>
                      </div>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>

      <div class="removal-body">
        {% block body %}{% endblock %}

          {% block content %}
              {% block fos_user_content %}{% endblock %}
          {% endblock %}

        <footer class="removalfooter"></footer>
      </div>
      {% block javascripts %}{% endblock %}

    </body>
</html>
