{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-gestion.css') }}">
{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
<div class="all_gestion_read">
    <div class="gestion_read">
        <div class="allcontent">
            {% for groupe in groupes %}
                    {% if user == groupe.user.id %}
                        <div class="personnage">
                            <p class="pseudo"><a href="{{ path('removal_user_groupe_readCandidature', {'groupeID' : groupe.id }) }}" data-toggle="tooltip" title="Voir les candidatures">{{ groupe.nom }}</a></p>
                            <p class="classe">Ilvl demandé : {{ groupe.ilvl }}</p>
                            <div class="modif">
                                <a href="{{ path('removal_user_groupe_update', {'groupeID' : groupe.id}) }}"> <span class="fas fa-pencil-alt" data-toggle="tooltip" title="Édition"></span></a>
                                <a href="{{ path('removal_user_groupe_delete', {'groupeID' : groupe.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer" onclick="myFunction()"></span></a>
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        function myFunction() {
            confirm("Voulez vous vraiment supprimer ?");
        }
    </script>
{% endblock %}
