{% extends 'base.html.twig' %}

{% block body %}
    <p style="color: white">Candidatures disponibles :</p>
    {% for candidature in candidatures %}
        {#{{ dump(candidature) }}#}
        <p style="color: white">Pseudo : {{ candidature.nompersonnage }}</p>
        <p style="color: white">BattleTag : {{ candidature.battletag }}</p>
        <p style="color: white">Classe : {{ candidature.classe }}</p>
        <p style="color: white">Spécialisation : {{ candidature.specialisation }}</p>
        <p style="color: white">Message : {{ candidature.message }}</p><br><br>
    {% endfor %}
{% endblock %}
