{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-gestion.css') }}">
{% endblock %}

{% block body %}
    {#<p style="color: white">Candidatures disponibles :</p>#}

    <div class="all_gestion_read">
        <div class="titre_gestion_personnage">
            <h2 class="h2">Candidatures disponibles :</h2><br>
        </div>
        <div class="gestion_read">
            <div class="allcontent">
                {% for candidature in candidatures %}
                        <div class="personnage">
                            <p class="pseudo">Pseudo : {{ candidature.nompersonnage }}</p>
                            <p class="classe">BattleTag : {{ candidature.battletag }}</p>
                            <p class="classe">Classe : {{ candidature.classe }}</p>
                            <p class="classe">Spécialisation : {{ candidature.specialisation }}</p>
                            <p class="message">Message : {{ candidature.message }}</p>
                            <p class="pseudo">Status du joueur : {{ candidature.status }}</p>
                            <div class="modif">
                                {% if candidature.status == "En attente" %}
                                    <div class="btn-outer">
                                      <a href="{{ path('removal_user_groupe_updateInscription', {'participantID' : candidature.id}) }}"><button class="btn btn-removal" type="button">Valider</button></a>
                                    </div>
                                    <div class="btn-outer">
                                      <a href="{{ path('removal_user_groupe_refusInscription', {'participantID' : candidature.id}) }}"><button class="btn btn-removal" >Refuser</button></a>
                                    </div>
                                {% elseif candidature.status == "Validé" %}
                                    <div class="btn-outer">
                                      <a href="{{ path('removal_user_groupe_refusInscription', {'participantID' : candidature.id}) }}"><button class="btn btn-removal">Refuser</button></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
