{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="all_form_candidature">
    <div class="form_candidature">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles) }}
    </div>
    <div class="form-group">
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    </div>
    </div>
{% endblock %}