{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-home.css') }}">
{% endblock %}

{% block body %}
    <br>
    <div class="all_admin_read">
    <div class="admin_read_recruit">
    <div id="removalDown">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Classe</th>
                    <th>Niveau</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>Modification</th>
                    {% endif %}
                </tr>
                </thead>
                {% for classe in recrutement %}
                        <tr>
                            <td>
                                <img src="{{ classe.image }}" alt="">
                                {{ classe.classe }}
                            </td>
                            <td>
                                {{ classe.niveau }}
                            </td>
                            {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('removal_admin_update_recrutement', {'recrutementID' : classe.id}) }}"> <span class="fas fa-pencil-alt" data-toggle="tooltip" title="Édition"></span></a>
                            </td>
                            {% endif %}
                        </tr>
                {% endfor %}
            </table>
    </div>
    <br>
    <a href="{{ path('removal_admin_create_recrutement') }}"><button>Créer un status</button></a>
    </div>
    </div>
{% endblock %}