{% for moreComment in moreComments %}
  <div class="commentContent">
    <div class="avatar">
      <img src="{{ asset('images/avatars/'~ moreComment.utilisateur.avatar) }}" alt="avatar_joueur" width="150px" height="150px"/>
    </div>
    <div class="commentDescription">
      <p>{{ moreComment.utilisateur.username }} à écrit ce commentaire le {{moreComment.dateComment|date('d/m/Y à H:i')}}</p><hr />
      <p>{{ moreComment.content}}</p>
      {% if (app.user.username is defined) and ((app.user.username == moreComment.utilisateur.username) or (is_granted('ROLE_SB'))) %}
        <div class="btn-gestion-comments color-removal">
          <a href=""><i class="far fa-edit"></i></a>
          <a href="{{ path('removal_comment_delete', {'newsUrl' : newsUrl, 'commentId' : moreComment.id})}}"><i class="fas fa-trash"></i></a>
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
