{% extends 'base.html.twig' %}

{% block body %}
    <br>
<div class="all_form_boss">
    <div class="form_boss">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_label(form.raid) }}
        {{ form_widget(form.raid) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_label(form.nm) }}
        {{ form_widget(form.nm) }}
        {{ form_label(form.hm) }}
        {{ form_widget(form.hm) }}
        {{ form_label(form.mm) }}
        {{ form_widget(form.mm) }}
        <div class="boss_submit">
        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}