{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container">
        <div class="title_creation_personnage">
    <h2>Création d'un personnage en cours</h2>
        </div>
            <br>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
    {{ form_label(form.pseudo) }}
    {{ form_widget(form.pseudo) }}
    </div>
    <div class="form-group">
    {{ form_label(form.classe) }}
    {{ form_widget(form.classe) }}
    </div>
    <div class="form-group">
    {{ form_label(form.specialisation) }}
    {{ form_widget(form.specialisation) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}