{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-gestion.css') }}">
{% endblock %}

{% block body %}
    <h2 class="personnage_joueur">Liste des personnages</h2><br>
    <div class="allcontent">
        {% for joueur in joueur %}
            <div class="personnage">
            <p class="pseudo">{{ joueur.pseudo }}</p>
            <p class="classe">{{ joueur.classe }}</p>
            <p><a href="https://worldofwarcraft.com/fr-fr/character/kirin-tor/{{ joueur.pseudo }}" target="_blank"><img class="imgperso" src="{{ asset('images/iconewow.png') }}" alt="icone wow"></a></p>
                    {% if is_granted('ROLE_ADMIN') %}
                       <div class="modif">
                            <a href="{{ path('removal_joueur_update', {'joueurID' : joueur.id}) }}"> <span class="fas fa-pencil-alt" data-toggle="tooltip" title="Édition"></span></a>
                            <a href="{{ path('removal_joueur_delete', {'joueurID' : joueur.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer" onclick="myFunction()"></span></a>
                       </div>
                    {% endif %}
            </div>
        {% endfor %}
        </div><br><br>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('removal_joueur_create') }}"> <span><button>Créer un joueur</button></span></a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        function myFunction() {
            confirm("Voulez vous vraiment supprimer ?");
        }
    </script>
{% endblock %}