{% extends 'base.html.twig' %}

{% block body %}
<div class="menu">
    <a href="{{ path('removal_participation_read') }}">Participations</a>
    <a href="{{ path('removal_gestion_status_create_sb') }}" data-toggle="tooltip" title="Création nouveau status & assigner participation aux membres"> <span class="fas fa-pencil-alt"></span>Assigner participations</a>
    <a href="{{ path('removal_candidature_read') }}">voir les candidatures</a>
    <a href="{{ path('removal_admin_read_recrutement') }}">Panel recrutement</a>
</div>
<br><br>
    <div class="admin_titre_and_btn">
        <h2 class="all_titre_admin">Liste participation des membres en retard</h2>
    </div>
    <div class="all_table_candidature">
        <div class="table_candidature">
            <table class="table">
                <tr class="thead-light">
                    <th>Nom Utilisateur</th>
                    <th>Participations</th>
                    <th>Status Participation</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>Modification</th>
                    {% endif %}
                </tr>
                {% for participation in status %}
                    {% if participation.participation.importance == "Normal" %}
                        {% if participation.confirmation != "Archivée" and date(participation.participation.dateFin) < date() and participation.confirmation != "Validée" %}
                            <tr class="table-danger">
                                <td>{{ participation.utilisateur.username }}</td>
                                <td>{{ participation.participation.nomParticipation }}</td>
                                <td>{{ participation.confirmation }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if participation.confirmation == "En cours" %}
                                    <td><a href="{{ path('removal_admin_confirm_one_status', {'statusID' : participation.id}) }}"> <span class="fas fa-check" data-toggle="tooltip" title="Confirmer"></span></a>
                                        <a href="{{ path('removal_admin_delete_one_status', {'statusID' : participation.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer"></span></a></td>
                                {% elseif participation.confirmation == "Validée" %}
                                    <td>Confirmation déjà envoyée !
                                        <a href="{{ path('removal_admin_delete_one_status', {'statusID' : participation.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer"></span></a></td>
                                {% else %}
                                    <td><a href="{{ path('removal_admin_delete_one_status', {'statusID' : participation.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer"></span></a></td>
                                {% endif %}
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}