{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="menu">
            <a href="{{ path('removal_sb_raid_read') }}">Voir les raids</a>
            <a href="{{ path('removal_sb_boss_create') }}">Création de boss</a>
            <a href="{{ path('removal_sb_boss_read') }}">Voir les boss</a>
        </div>
    {% endif %}
    <br>
{% for raid in raids %}
    <div class="read_raid" style="display: flex">
    <p style="color: white">{{ raid.name }}</p>
        <a style="margin-left: 2%" href="{{ path('removal_sb_raid_update', {'raidID' : raid.id}) }}"> <span class="fas fa-pencil-alt" data-toggle="tooltip" title="Édition"></span></a>
        <a style="margin-left: 2%" href="{{ path('removal_sb_raid_delete', {'raidID' : raid.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer" onclick="myFunction()"></span></a>
    </div>
{% endfor %}

{% endblock %}