{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('removal_participation_create') }}"> <span><button>Créer une participation</button></span></a>
        <br><br>
    {% endif %}

<h2 class="titre_all_participation">Liste des participations normales : </h2><br>
    <div class="all_participation_read">
    <div class="table_all_participation">
<table class="table">
    <tr class="thead-light">
        <th>Participation</th>
        <th>Importance</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Compo 1</th>
        <th>Nbr</th>
        <th>Compo 2</th>
        <th>Nbr</th>
        <th>Compo 3</th>
        <th>Nbr</th>
        <th>Compo 4</th>
        <th>Nbr</th>
        <th>Compo 5</th>
        <th>Nbr</th>
        <th>Compo 6</th>
        <th>Nbr</th>
        <th>Compo 7</th>
        <th>Nbr</th>
        <th>Modification</th>
    </tr>
    {% for participation in participation %}
        {% if participation.importance == "Normal" and participation.importance != null %}
        <tr class="table-warning">
            <td><span class="fas fa-arrow-right"></span> {{ participation.nomParticipation }}</td>
            <td>{{ participation.importance }}</td>
            <td>{{ participation.dateDebut|date('d-m-Y') }}</td>
            <td>{{ participation.dateFin|date('d-m-Y') }}</td>
            <td>{{ participation.nomCompo1 }}</td>
            <td>{{ participation.nbrCompo1 }}</td>
            <td>{{ participation.nomCompo2 }}</td>
            <td>{{ participation.nbrCompo2 }}</td>
            <td>{{ participation.nomCompo3 }}</td>
            <td>{{ participation.nbrCompo3 }}</td>
            <td>{{ participation.nomCompo4 }}</td>
            <td>{{ participation.nbrCompo4 }}</td>
            <td>{{ participation.nomCompo5 }}</td>
            <td>{{ participation.nbrCompo5 }}</td>
            <td>{{ participation.nomCompo6 }}</td>
            <td>{{ participation.nbrCompo6 }}</td>
            <td>{{ participation.nomCompo7 }}</td>
            <td>{{ participation.nbrCompo7 }}</td>
            <td>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('removal_participation_update', {'participationID' : participation.id}) }}"> <span class="fas fa-pencil-alt" data-toggle="tooltip" title="Édition"></span></a>
                <a href="{{ path('removal_participation_delete', {'participationID' : participation.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer"></span></a>
            {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
    </div>
    </div>
<br><br>



    <h2 class="titre_all_participation">Liste des participations courantes : </h2><br>
    <div class="all_participation_read">
    <div class="table_all_participation">
    <table class="table">
        <tr class="thead-light">
            <th>Participation</th>
            <th>Importance</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Compo 1</th>
            <th>Nbr</th>
            <th>Compo 2</th>
            <th>Nbr</th>
            <th>Compo 3</th>
            <th>Nbr</th>
            <th>Compo 4</th>
            <th>Nbr</th>
            <th>Modification</th>
        </tr>
        {% for participation in participation %}
            {% if participation.importance == "Courant" and participation.importance != null %}
            <tr class="table-warning">
                <td><span class="fas fa-arrow-right"></span> {{ participation.nomParticipation }}</td>
                <td>{{ participation.importance }}</td>
                <td>{{ participation.dateDebut|date('d-m-Y') }}</td>
                <td>{{ participation.dateFin|date('d-m-Y') }}</td>
                <td>{{ participation.nomCompo1 }}</td>
                <td>{{ participation.nbrCompo1 }}</td>
                <td>{{ participation.nomCompo2 }}</td>
                <td>{{ participation.nbrCompo2 }}</td>
                <td>{{ participation.nomCompo3 }}</td>
                <td>{{ participation.nbrCompo3 }}</td>
                <td>{{ participation.nomCompo4 }}</td>
                <td>{{ participation.nbrCompo4 }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('removal_participation_update', {'participationID' : participation.id}) }}"> <span class="fas fa-pencil-alt" data-toggle="tooltip" title="Édition"></span></a>
                        <a href="{{ path('removal_participation_delete', {'participationID' : participation.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer"></span></a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>
    </div>
    <br>

    <h2 class="titre_all_participation">Liste des participations urgentes : </h2><br>
    <div class="all_participation_read">
    <div class="table_all_participation">
    <table class="table">
        <tr class="thead-light">
            <th>Participation</th>
            <th>Importance</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Compo 1</th>
            <th>Nbr</th>
            <th>Compo 2</th>
            <th>Nbr</th>
            <th>Compo 3</th>
            <th>Nbr</th>
            <th>Compo 4</th>
            <th>Nbr</th>
            <th>Modification</th>
        </tr>
        {% for participation in participation %}
            {% if participation.importance == "Urgent" and participation.importance != null %}
                <tr class="table-warning">
                    <td><span class="fas fa-arrow-right"></span> {{ participation.nomParticipation }}</td>
                    <td>{{ participation.importance }}</td>
                    <td>{{ participation.dateDebut|date('d-m-Y') }}</td>
                    <td>{{ participation.dateFin|date('d-m-Y') }}</td>
                    <td>{{ participation.nomCompo1 }}</td>
                    <td>{{ participation.nbrCompo1 }}</td>
                    <td>{{ participation.nomCompo2 }}</td>
                    <td>{{ participation.nbrCompo2 }}</td>
                    <td>{{ participation.nomCompo3 }}</td>
                    <td>{{ participation.nbrCompo3 }}</td>
                    <td>{{ participation.nomCompo4 }}</td>
                    <td>{{ participation.nbrCompo4 }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('removal_participation_update', {'participationID' : participation.id}) }}"> <span class="fas fa-pencil-alt" data-toggle="tooltip" title="Édition"></span></a>
                            <a href="{{ path('removal_participation_delete', {'participationID' : participation.id}) }}"> <span class="fas fa-trash-alt" data-toggle="tooltip" title="Supprimer"></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}